/* Estilos para la estructura general */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-image: repeating-linear-gradient(0deg, hsla(66,43%,35%,0.09) 0px, hsla(66,43%,35%,0.09) 1px,transparent 1px, transparent 11px),repeating-linear-gradient(90deg, hsla(66,43%,35%,0.09) 0px, hsla(66,43%,35%,0.09) 1px,transparent 1px, transparent 11px),linear-gradient(90deg, hsl(120,3%,92%),hsl(120,3%,92%));
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: 0.5rem;
    width: calc(33.33% - 1rem); /* Ajusta el ancho de las tarjetas en pantallas grandes */
    margin: 1rem;
    transition: transform 0.3s;
    background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 2px,rgba(0,0,0,0.03) 2px, rgba(0,0,0,0.03) 3px,transparent 3px, transparent 5px,rgba(0,0,0,0.03) 5px, rgba(0,0,0,0.03) 7px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 9px,rgb(255,255,255) 9px, rgb(255,255,255) 21px,rgb(255,255,255) 21px, rgb(255,255,255) 31px,rgb(255,255,255) 31px, rgb(255,255,255) 40px); background-size: 20px 20px;
}

.card:hover {
    transform: scale(1.1); /* Efecto de escala al hacer hover */
}

/* Estilos para la cabecera */
.cardH {
    display: flex;
    flex-direction: column;
    color: white;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 128, 128);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 20px;

}

.cardH h3 {
    margin: 0;
}

/* Estilos para el cuerpo de la tarjeta */
.cardB {
    height: 14rem;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.cardB img {
    max-width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
    height: auto;
}

/* Estilos para el pie de la tarjeta */
.cardF {
    height: 2rem;
    text-align: center;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 20px;
    font-weight: bold;

}

/* Estilos para pantallas con una resolución de 320 píxeles o menos */
@media screen and (max-width: 320px) {
    header {
        text-align: center;
    }

    .search-container {
        margin-top: 10px;
    }

    #country-search {
        width: 80%;
    }

    #search-button {
        width: 80%;
    }
}
/* Reglas de medios para hacerlo responsive */
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 1rem); /* Ajusta el ancho de las tarjetas en pantallas medianas */
    }
    
    .container {
        margin: 0;
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%; /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
    }
/* Estilos para el cuerpo de la tarjeta */

}
/* Estilos para centrar el título en el header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem; /* Asegura que el header tenga una altura suficiente */
}

h1 {
    text-align: center;
}

/* Estilos para el header y el buscador */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #333;
    color: white;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.search-container {
    display: flex;
    align-items: center;
}

#country-search {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 1rem;
}

#search-button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
}

#search-button:hover {
    background-color: #0056b3;
}


